{% extends 'main_template.html' %}

{% block title %}Main Page{% endblock %}

{% block index %}
<style>.checked {color: orange;}</style>

{% if user.username %}
    <a href="{% url 'add_new_book' %}">Add a New Book</a>
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'register' %}">register</a>
    <a href="{% url 'login' %}">login</a>
{% endif %}

{% for book in content %}
<div id="book{{ book.slug }}">
    <h1>{{ book.title }}</h1>
    {% if user.username %}
        <a href="{% url 'update_book' id=book.id %}">Update this book</a><br>
        <button class="delete_book" id="{{ book.id }}">Delete this Book</button>
    {% endif %}
    <h2>{{ book.publish_date }}</h2>
    <i><h5>{{ book.text }}</h5></i>
    <i>Genre: {% for genre in book.genre.all %}
        {{ genre.title }}
    {% endfor %}</i><br>
    <i>Authors:{% for user in book.author.all %}
        {{ user.username }}
    {% endfor %}</i>
    <h4 id="book_rate{{ book.id }}">Rate: {{ book.cached_rate }}</h4>
    {% if user.username %}
    {% for i in '12345'|make_list %}
        {% if book.user_rate >= i %}
            <span class="rate fa fa-star checked" id="book{{ book.id }}-{{ i }}"></span>
        {% else %}
            <span class="rate fa fa-star" id="book{{ book.id }}-{{ i }}"></span>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% for comment in book.comment.all %}
        <h6>{{ comment.text }}</h6>
        <h6>User: {{ comment.user }}</h6>
        <h6>Date: {{ comment.date }}</h6>
        <h6 class="likes fa {% if comment.isliked %}fa-star checked{% endif %}" id="{{ comment.id }}">
            Likes: {{ comment.cached_likes }}
        </h6><br>
    {% endfor %}
    {% if user.username %}
    <form action="{% url 'add_a_new_comment' id=book.id %}" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
    {% endif %}
<hr>
</div>
{% endfor %}

{% endblock %}